*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

/*this is for the yellow box*/
.container{
    background: #FFF100;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 32px;
    gap: 20px;
    
    /* no need for sizing */
    width: 100%;
    height: 389px;

    /* no need for all the flex stuff below */
    flex: auto;
    order: 2;
    flex-grow: 0;
    }

    /*elements of the yellow box*/
h1{
    /* the h1 needs no sizing */
    width: 676px;
    height: 83px;
    
    /* font-family should be part of the body */
    font-family: 'Madera for Yello';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    
    /* here is no need for flex */
    display: flex;
    align-items: center;
    
    /* color should be part of the body */
    color: #000000;
}
    

.container p{
    /* no need for sizing */ 
    width: 371px;
    height: 24px;
    /* all the font styling should be part of the body */
    font-family: 'Madera for Yello';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* here is no need for flex stuff */
    display: flex;
    align-items: center;
    /* color should be part of the body */ 
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
    

    /*this is for the ash box*/
/* i am pretty sure you can reuse the .container. in this case you only need the background-color here */
.subcontainer{
    width: 100%;
    height: 198px;
    background: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 32px;
    gap: 60px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

/*element of the ash box*/
.subcontainer p{
    /* not sure if you need a px sizing here. maybe a % is better */
    width: 350px;
    text-align: center;
}
    

/* for small screens */

@media (max-width: 500px){

    /*this is for the yellow box*/
.container{
    display: flex;
    flex-direction: column;
    /* no need for sizing */ 
    width: 100%;
    height: 360px;
    padding-top: 8px;  
    gap: 10px;
    align-items: start;
}

    /*elements of the yellow box*/
h1{
    /* no need for sizing */ 
    width: 295px;
    height: 104px;
    font-size: 30px;
}

.container p{
    /* no need for sizing */ 
    width: 300px;
    height: 15px;
    /* font-size should be part of the body */ 
    font-size: 15px;
    padding-top:-1rem;
}

.container img {
    width: 100%;
    height: 150px;
}

/*this is for the ash box*/
.subcontainer{
    /* no need for sizing */ 
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   /* you should create a variable for the spacings */ 
    padding-top: 8px; 
    align-items: start;
}
    
/*elements of the ash box*/

.subcontainer h2{
    /* no need for sizing */ 
    width: 100%;
    height: auto;
    /* basic font-styling should be part of body */ 
    font-family: 'Madera for Yello';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: #000000;
}

.subcontainer span{
    /* no need for sizing */ 
    width: auto;
    height: auto;
    /* basic font-styling should be part of body */ 
    font-family: 'Madera for Yello';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; 
    color: #000000;
    }

}
